<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/socialnetwork</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">173078</property>
        <property name="hibernate.connection.pool_size">5</property>

        <property name="hibernate.default_schema">SN</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>

        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Annotated entity classes -->
        <mapping class="ua.dkovalov.socialnetwork.entity.User"/>
    </session-factory>
</hibernate-configuration>