<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <RollingFile name="RollingFile" fileName="SocialNetwork/log/app.log" filePattern="SocialNetwork/log/app-%i.log">
            <PatternLayout>
                <Pattern>%d [%t] %p %c{1.} %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <logger name="ua.dkovalov.socialnetwork" level="info">
            <AppenderRef ref="RollingFile"/>
        </logger>
        <logger name="org.hibernate" level="error">
            <AppenderRef ref="RollingFile"/>
        </logger>
    </Loggers>
</Configuration>